doctype
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/global.css')
        link(rel='stylesheet', href='/lib/angucomplete-alt/angucomplete-alt.css')
        title Compare Hospital Costs
    body(data-ng-app='app')
        header.container(data-ng-controller="HeaderController")
            nav(class="navbar navbar-default navbar-fixed-top")
                ul.nav.navbar-nav(data-ng-cloak="data-ng-cloak")
                    li(data-ng-repeat="route in routeData" data-ng-class="{'active':$location.path() === route.path}")
                        a(data-ng-href="#{{route.path}}") {{route.title}}
            section.jumbotron
                h1 Should You Move There?
                h2(data-ng-cloak="data-ng-cloak") {{pagetitle}}

        main.container(data-ng-view="data-ng-view" role="main")            

    script(src='/scripts/jquery/dist/jquery.min.js')
    script(src='/scripts/angular/angular.js')
    script(src='/scripts/angular-resource/angular-resource.js')
    script(src='/scripts/angular-route/angular-route.js')
    script(src='/scripts/highcharts-release/highcharts.js')
    script(src='/lib/angucomplete-alt/angucomplete-alt.min.js')
    script(src='/app/app.js')
    script(src='/app/config.js')
    script(src='/app/factories.js')    
    script(src='/app/controllers.js')
    script(src='/app/directives.js')
    script.
        angular.module('app').constant('csrfToken', '!{csrfToken}');
